<article
  class="shadow-md relative block overflow-hidden rounded-lg border border-gray-200 p-4 sm:p-6 lg:p-8"
>
  <span
    class="absolute inset-x-0 bottom-0 h-2 bg-gradient-to-r from-green-300 via-blue-500 to-purple-600"
  ></span>

  <div class="sm:flex sm:justify-between sm:gap-4">
    <div>
      <h3 class="text-lg font-bold text-gray-900 sm:text-xl">
       {{comment.user.name}}
      </h3>

    </div>


  </div>

  <div class="mt-4">
    <p class=" text-sm text-gray-500">
     {{comment.text}}
    </p>
  </div>

  <dl class="mt-6 flex justify-end gap-4 sm:gap-6">

  <button (click)="toggleReplying()"
  class="inline-block rounded border border-current px-4 py-1.5 text-sm font-medium text-indigo-600 transition hover:rotate-2 hover:scale-110 focus:outline-none focus:ring active:text-indigo-500"
    >
   Reply
  </button>
    <button>
        Like
    </button>
    <button (click)="toggleExpanded()" class="duration-200" [class.rotate-180]="isExpanded()">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 8.25l-7.5 7.5-7.5-7.5" />
          </svg> 
    </button>
    <!-- <div class="flex flex-col-reverse">
      <dt class="text-sm font-medium text-gray-600">Published</dt>
      <dd class="text-xs text-gray-500">31st June, 2021</dd>
    </div> -->

    <!-- <div class="flex flex-col-reverse">
      <dt class="text-sm font-medium text-gray-600">Reading time</dt>
      <dd class="text-xs text-gray-500">3 minute</dd>
    </div> -->
  </dl>
  <section class="my-4" *ngIf="isReplying()">
     <app-comment-form (formSubmitted)="createComment($event)" placeholder="Write your Reply" buttonText="Send"></app-comment-form>
  </section>
  <section class="nested-comment" *ngIf="isExpanded()">
    <div class="text-xl">
    </div>
    <app-comment [comment]="nestedcomment" *ngFor="let nestedcomment of nestedComments()"></app-comment>
</section>

</article>

