<section class="max-w-md mx-auto flex flex-col gap-4 mb-4">
    
  <app-comment-form (formSubmitted)="createComment($event)"></app-comment-form>
 
</section>

<section class="max-w-md mx-auto flex flex-col gap-4">

    <app-comment [comment]="comment" *ngFor="let comment of comments(); "></app-comment>
 
</section>
